<div class="container">
  <app-nav-bar class="navbar"></app-nav-bar>
  <div class="title">
    <div class="title-left">
      <div class="project-name">Create App</div>
      <div class="project-description">App Todolist</div>
    </div>
    <div class="title-right">
      <div class="date">
        <div>CREATE DATE</div>
        <div>30/2/2023</div>
      </div>
      <div class="date">
        <div>DUE DATE</div>
        <div>3/3/2023</div>
      </div>
      <div class="date">
        <div>TRACKED TIME</div>
        <div id="date">
          <div>2 days</div>
          <div>icon</div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="col">
      <div class="col-header">
        <div>icon</div>
        <div>To do</div>
      </div>
      <div class="task-col">
        <div class="task-name">
          <div class="task-title">Coding</div>
          <div>member</div>
        </div>
        <div class="adjust">
          <div class="task-date">
            <div>Create Date: 30/2/2023</div>
            <div class="deadline">Deadline: 3/3/2023</div>
          </div>
          <div class="icon">
            <div>icon</div>
            <div>icon</div>
          </div>
        </div>
      </div>
      <div class="task-col-create">
        <div class="create-new">+</div>
      </div>
    </div>
    <div class="col">
      <div class="col-header">
        <div>icon</div>
        <div>In Progress</div>
      </div>
      <div class="task-col">
        <div class="task-name">
          <div class="task-title">Create login/landing page</div>
          <div>member</div>
        </div>
        <div class="adjust">
          <div class="task-date">
            <div>Create Date: 30/2/2023</div>
            <div class="deadline">Deadline: 3/3/2023</div>
          </div>
          <div class="icon">
            <div>icon</div>
            <div>icon</div>
          </div>
        </div>
      </div>
      <div class="task-col">
        <div class="task-name">
          <div class="task-title">Create home page</div>
          <div>member</div>
        </div>
        <div class="adjust">
          <div class="task-date">
            <div>Create Date: 30/2/2023</div>
            <div class="deadline">Deadline: 3/3/2023</div>
          </div>
          <div class="icon">
            <div>icon</div>
            <div>icon</div>
          </div>
        </div>
      </div>
      <div class="task-col">
        <div class="task-name">
          <div class="task-title">Create task page</div>
          <div>member</div>
        </div>
        <div class="adjust">
          <div class="task-date">
            <div>Create Date: 30/2/2023</div>
            <div class="deadline">Deadline: 3/3/2023</div>
          </div>
          <div class="icon">
            <div>icon</div>
            <div>icon</div>
          </div>
        </div>
      </div>
      <div class="task-col-create">
        <div class="create-new">+</div>
      </div>
    </div>
    <div class="col">
      <div class="col-header">
        <div>icon</div>
        <div>Completed</div>
      </div>
      <div class="task-col">
        <div class="task-name">
          <div class="task-title">Color</div>
          <div>member</div>
        </div>
        <div class="adjust">
          <div class="task-date">
            <div>Create Date: 30/2/2023</div>
            <div class="deadline">Deadline: 3/3/2023</div>
          </div>
          <div class="icon">
            <div>icon</div>
            <div>icon</div>
          </div>
        </div>
      </div>
      <div class="task-col">
        <div class="task-name">
          <div class="task-title">Font</div>
          <div>member</div>
        </div>
        <div class="adjust">
          <div class="task-date">
            <div>Create Date: 30/2/2023</div>
            <div class="deadline">Deadline: 3/3/2023</div>
          </div>
          <div class="icon">
            <div>icon</div>
            <div>icon</div>
          </div>
        </div>
      </div>
      <div class="task-col-create">
        <div class="create-new">+</div>
      </div>
    </div>
    <div class="col">
      <div class="col-header">
        <div>icon</div>
        <div>Task Customize</div>
      </div>
      <div class="task-col-create">
        <div class="create-new">+</div>
      </div>
    </div>
  </div>
</div>
